<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DddEfteling.Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/vuelayers/lib/style.css">
</head>
<body>
    @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - DddEfteling - Made by <a href="https://github.com/Ruubmeister/DddEfteling" target="_blank">Ruubmeister (Ruben Lelieveld) </a>
            <button type="button" class="btn btn-outline-success btn-sm btn-background-music-play"><i class="fas fa-play"></i> </button>
            <button type="button" class="btn btn-outline-danger btn-sm btn-background-music-stop"><i class="fas fa-pause"></i> </button>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
    <script src="https://kit.fontawesome.com/646ba1a716.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
